/* contacto.html inicio */

.contactar {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    display: flex;
    justify-content: space-around;
    font-size: large;
    font-weight: bold;
}

.consultas {
    display: flex;
    justify-content: space-around;
}

/* contacto.html fin */