/* index.html inicio*/

.nleft {
    background-image: url(images/Diseño\ sin\ título\ 1.png);
    height: 350px;
    background-position: center;
    background-size: cover;
}

/* index.html fin */